<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>
<% if(user === undefined){ %>
  <p>
    <a href = "http://localhost:8080/login">Login</a>
    <a href = "http://localhost:8080/register">Register</a>
  </p>
<%} else { %>
  <form action="/logout" method="POST" style="margin:5px;">
    <label>Logged in as <%= user.email  %></label>
    <button>Logout</button>
  </form>
<% } %>
<hr>