<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>
<form action="/login" method="POST" style="margin:25px;">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" style="width: 125px">
      <button>Login</button>
</form>