<!-- views/partials/_header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>
<% if(username === undefined){ %>
  <form action="/login" method="POST" style="margin:5px;">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" style="width: 125px">
    <button>Login</button>
  </form>
<%} else { %>
  <form action="/logout" method="POST" style="margin:5px;">
    <label>Logged in as <%= username %></label>
    <button>Logout</button>
  </form>
<% } %>