<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <form action="/login" method="POST" style="margin:5px;">
    <label for="email">Email:</label>
    <input id="email" type="text" name="email" style="width: 125px">
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" style="width: 125px">
    <button>Login</button>
  </form>
</html>

