<!DOCTYPE html>
<html lang="en">
  <head>
      <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header.ejs %>
  </header>
  <body style="font-size:20px; padding:5px;">
    <form action="/newURL" method="POST" style="margin:5px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button>Submit</button>
    </form>
  </body>
</html>