<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header.ejs %>
</header>
<body>
    <h2>URLS:</h2>
      <ul>
        <% for(url in urls){ %>
          <form method="POST" action="/urls/<%=url%>/delete">
            <li> <%= url %> : <%= urls[url]%> <a href = 'http://localhost:8080/urls/<%=url%>'>Edit</a> <input type="submit" value="Delete this"></li>
            <br>
          </form>
        <% }; %>
      </ul>
    <h3><a href = "http://localhost:8080/urls/new">Shorten a URL</a></h3>
</body>
</html>