<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header.ejs %>
</header>
<body>
    <h2>URLS:</h2>
      <ul>
        <% for(url in urls){ %>
          <li> <%= url %> : <%= urls[url]%></li>
        <% }; %>
      </ul>
    <h3 href = './urlsNew'>Shorten a URL</h3>
</body>
</html>