<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header.ejs %>
</header>
<body>
    <h2>URL:</h2>
          <p><%= shortURL %> = <%= longURL %></p>
</body>
</html>